
<div style="height: 90%" class="form-control" id="snapshot-area"></div>

<div id="code-buttons">
  <div class="actions" >
    <button type="button" class="btn button2", id='run'> Generate VR Scene </button>
  </div>
  <div>
    <div class="actions" >
      <button type="button" class="btn button1", id='random'> Random Program </button>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
