<div id="main">
  <div id="d1">
    <%= render 'form' %>
  </div>
  <div id="d2">
    <div id="scene" class="visbox">
      <a-scene>
      </a-scene>
    </div>
  </div>
  <div class="mobile-shim"></div>
</div>
