<div id="main">
  <div id="d1">
    <div style="height: 900px;">
    <%= render 'form' %>
    </div>
  </div>
  <div id="d2">
    <div id="d3" class="visbox"></div>
    <div id="d4" class="visbox"></div>
  </div>
</div>
