<div id="main">
  <div id="d1">
    <%= render 'form' %>
  </div>
  <div id="d2">
    <div id="scene" class="visbox">
      <a-scene>
      </a-scene>
    </div>
  </div>
</div>

<div class="actions" >
  <button type="button" class="btn" id="backtotop"> Back to top </button>
</div>